body, html {
  height: 100%;
}

.bg { 
  /* The image used */
  background-image: url("http://newscenter.sdsu.edu/sdsu_newscenter/images/stories/8-30-17_Hispanic_Outlook_589x325.jpg");

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
